---
import Title from "../ui/Title.astro";
import Text from "../ui/Text.astro";
import VideoPlayer from "../ui/VideoPlayer.astro";

interface Props {
   videoFile?: string;
   review?: string;
   reviewerName: string;
   reviewerStatus: "EGRESADA DE LA ACADEMIA" | "CLIENTE DEL SALÓN";
}

const { videoFile, review, reviewerName, reviewerStatus } = Astro.props;
---

<div class="review-card">
   {videoFile ? <VideoPlayer videoFile={videoFile} width="100%" height="200px" /> : <Text>"{review}"</Text>}

   <div>
      <Title type="h6">{reviewerName}</Title>
      <span>{reviewerStatus}</span>
   </div>
</div>

<style>
   .review-card {
      width: 340px;
      height: fit-content;
      min-height: 300px;
      padding: var(--gap);
      border-radius: var(--rounded-base);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: var(--gap-cards);
      flex-shrink: 0;
      background-color: var(--background-color);

      p {
         font-size: 18px;
         font-style: italic;
      }

      > div {
         span {
            font-size: 13px;
            font-weight: 600;
            opacity: 50%;
         }
      }
   }

   @media screen and (min-width: 1280px) {
      .review-card {
         width: 415px;
         padding: calc(var(--gap-cards) * 0.75);
      }
   }
</style>
