---
import { base } from "astro:config/server";

interface Props {
   light?: boolean;
}

const { light } = Astro.props;

const src = light ? `${base}/jireh-estetica-logo-light.svg` : `${base}/jireh-estetica-logo.svg`;
---

<a href={`${base}/`} id="logo">
   <img src={src} alt="jireh estetica logo" />
</a>

<style>
   #logo {
      img {
         width: 140px;
      }
   }

   @media screen and (min-width: 1280px) {
      #logo {
         img {
            width: 160px;
         }
      }
   }
</style>
