---
import { base } from "astro:config/server";

interface Props {
   light?: boolean;
}

const { light } = Astro.props;

const src = light ? `${base}/jireh-estetica-logo-light.svg` : `${base}/jireh-estetica-logo.svg`;
---

<a href={`${base}/`}>
   <div id="logo">
      <img src={src} alt="jireh estetica logo" />
   </div>
</a>

<style>
   #logo {
      width: fit-content;
      height: 50px;

      img {
         height: 100%;
      }
   }
</style>
